<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
<div class="footer">
    <h1 style="font-size: 28px;">Contact us</h1>
    <ul class="list-unstyled">
    <li><i class="fa-sharp fa-solid fa-envelope"><p style="margin-top:10px"> Email:abc@gmail.com</p></i></li>
    <li><i class="fa-solid fa-phone"><p style="margin-top:5px">Phone No:9876543210</p></i></li>
    <li><i class="fa-solid fa-location-dot"><p style="margin-top:5px">Address:xyz,Narasaraopet</p></i></li>
    </ul>
</div> -->




<!-- Footer -->
<footer class="page-footer font-small  pt-4"style="background-color:#e1d7d3;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">Contact Us</h5>
    
            <ul class="list-unstyled"style="margin-left:10px;">
              <li>
                <i class="fa-solid fa-location-dot"style="margin-left:40px"></i>
                <p>45-196 Narasaraopet,<br>Andhrapradesh</p>
              </li>
              <li>
                <i class="fa-solid fa-phone"style="margin-left:40px"></i>
                <p>900-456-6789</p>
              </li>
              <li>
                <i class="fa-solid fa-paper-plane"style="margin-left:40px"></i>
                <p>info@crops.com</p>
              </li>
            </ul>
            
          </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">chemicals</h5>
  
          <ul class="list-unstyled" style="margin-left:15px;">
            <li>
              <a href="/Products">Argo Plus</a>
            </li>
            <li>
              <a href="/Products">Mango Care</a>
            </li>
            <li>
              <a href="/Products">Organic Pest Controller</a>
            </li>
            <li>
              <a href="/Products">Barrier Liquid</a>
            </li>
            <li>
              <a href="/Products">Repellent Liquid</a>
            </li>
            <li>
              <a href="/Products">Verticillium Lecanii</a>
            </li>
            <li>
              <a href="/Products">Neem Oil</a>
            </li>
            <li>
              <a href="/Products">Doctor Neem+</a>
            </li>
          </ul>
  
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">Crop Deseases</h5>
    
            <ul class="list-unstyled" style="margin-left:23px">
              <li>
                <a routerLink="/Bananaspeckle">Banana Speckle</a>
              </li>
              <li>
                <a routerLink="/Scale">Scale Insects</a>
              </li>
              <li>
                <a routerLink="/Bacterial">Bacterial Spots</a>
              </li>
              <li>
                <a routerLink="/Brownleaf">Brown Leaf Spot</a>
              </li>
              <li>
                <a routerLink="/Citrus">Citrus Canker</a>
              </li>
              <li>
                <a routerLink="/Greyleaf">Grey Leaf Spot</a>
              </li>
              <li>
                <a routerLink="/Lace">Lace Bug</a>
              </li>
              <li>
                <a routerLink="/Iron">Iron Deficiency</a>
              </li>
            </ul>
    
          </div>
          
        <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">Get In Touch</h5>
    
            <ul class="list-unstyled"style="margin-left:38px">
              <li>
                <a class="fb-ic g">
                    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
              </li>
              <li>
                <a class="tw-ic g">
                    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
              </li>
              <li>
                 <!-- Google +-->
                 <a class="gplus-ic g">
                    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
              </li>
              <li>
                <!--Linkedin -->
                <a class="li-ic g">
                    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
              </li>
              <li>
                <a class="ins-ic ">
                  <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
              </li>
              <li>
                <a href="#!">Feed Back</a>
              </li>
            </ul>
    
          </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
    <hr style="margin-left:20px;margin-right:20px">
    </footer>