
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <div class="bg">
    <div class="bg-con">
        <h1>About Us</h1>
        <p>The two main features we provide are</p>
        <div class="d-flex flex-row justify-content-center card">
            <div class="sub-card">
                <img src="https://i0.wp.com/1.bp.blogspot.com/-zcoPfPBMLNA/W6VPR2bNsWI/AAAAAAAADVM/NMDxW3X1H3s-gJjEdcgfE104o9PdVDjyACLcBGAs/s1600/pest3.jpg?ssl=1" />
                <p>Pest Recognisation</p>
                
            </div>
            <div class="sub-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTsv9cXYhDjuUsFE68p7bDBsIyIvWeDVLSdZhHrjq5l64sztAUEk2a-pBkKew1r0KRHnE&usqp=CAU" />
                <p>Product Recommendation</p>
            </div>
        </div>
    </div>
    <div class="hg">
            <i>
        <p style="margin-left:300px">
            Agrigo is our website in which it helps farmers about different crops and 
         to detect the disease<br>effected to their crop and get to know about which fertilisers to be used to get rig of desease.<br>Economy of a country depends on ag
         riculture productivity.Identification of  plant diseases is<br>key for preventing plant diseases is the key for preventing the loses and improve the quality <br>of agricultural product.Traditional method done by the people to check wh
         at type of disease<br>consumes more time to identify it.In big farm lands, early
         detection  of  plant  disease  by<br> automated techniques will reduce the loss in productivity.</p>
         <p style="margin-left:300px">This website consists about different crops and major deseases caused to
         them and description<br> about the desease is how the plant looks like,what are the
         major changes can be observed etc.<br> And the solution to get rid of the
         desease.Farmers can check the website and if they find about <br>their crops desease
         they will get the solution directly and if they cannot find they can upload <br>an
         image of the plant so we can suggest a solution.</p>
         </i>
    </div>
</div>
