<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
</head>

<body>
    <div class="library-section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="heading">Products</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="shadow card p-3 mb-3">
                        <img src="https://m.media-amazon.com/images/I/41wLneRlhJL._SX300_SY300_QL70_FMwebp_.jpg" class="image w-100" />
                        <h1 class="title">Agro Plus</h1>
                        <p> &#x20b9; 99</p>
                
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="shadow card p-3 mb-3">
                        <img src="https://m.media-amazon.com/images/I/71X0PqRWZEL._SL1500_.jpg" class="image w-100" />
                        <h1 class="title">Mango Care</h1>
                        <span>&#x20b9; 169</span>
                        <button><a routerLink="/Mangocare">Add to cart</a></button>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card shadow p-3 mb-3">
                        <img src="https://m.media-amazon.com/images/I/61dztuvw9pL._SL1024_.jpg" class="image w-100" />
                        <h1 class="title">Organic Pest Controller</h1>
                        <span>&#x20b9; 260</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card shadow p-3 mb-3">
                        <img src="https://m.media-amazon.com/images/I/719J96Aj7aL._SL1500_.jpg" class="image w-100" />
                        <h1 class="title">Barrier Liquid</h1>
                        <span>&#x20b9; 310</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card shadow p-3 mb-3">
                        <img src="https://m.media-amazon.com/images/I/71T+326ztpL._SL1500_.jpg" class="image w-100" />
                        <h1 class="title">Repellent Liquid</h1>
                        <span>&#x20b9; 310</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card shadow p-3 mb-3">
                        <img src="https://m.media-amazon.com/images/I/61bL+QgCbeL._SL1500_.jpg" class="image w-100" />
                        <h1 class="title">Verticillium Lecanii </h1>
                        <span>&#x20b9; 550</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card shadow p-3 mb-3">
                        <img src="https://m.media-amazon.com/images/I/71CMEY9x-FL._SL1500_.jpg" class="image w-100" />
                        <h1 class="title">Neem Oil</h1>
                        <span>&#x20b9; 240</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card shadow p-3 mb-3">
                        <img src="https://m.media-amazon.com/images/I/41HOwnFRgqL._SL1000_.jpg" class="image w-100" />
                        <h1 class="title">Doctor Neem+</h1>
                        <span>&#x20b9; 340</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
